* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

@font-face {
  font-family: myFirstFont;
  src: url("/public/assets/Raosand.ttf");
}

body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    180deg,
    #fad662 0,
    #e8d75b 8.33%,
    #d4d655 16.67%,
    #bed551 25%,
    #a6d34f 33.33%,
    #8bd04e 41.67%,
    #6acc50 50%,
    #3ec855 58.33%,
    #00c35c 66.67%,
    #00bf67 75%,
    #00bb73 83.33%,
    #00b881 91.67%,
    #00b591 100%
  );

  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 250%;
  font-family: "myFirstFont";
  padding-top: 0%;
}

.button-container {
  justify-self: end;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.one {
  grid-column: 1;
  grid-row: 0;
}
.two {
  grid-column: 2;
  grid-row: 0;
}
.three {
  grid-column: 3;
  grid-row: 0;
}

img.rounded-corners {
  border-radius: 10%;
  width: 20%;
}

.container2 {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* Input */
input {
  border: none;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  right: 9px;
  border-radius: 22px;
  width: 300px;
  box-sizing: border-box;
  padding: 0 18px;
  text-align: center;
}

/* Button */
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0086a1;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #000;
}
.button:hover:before {
  width: 100%;
}
#button-container {
  float: right;
}

.tree {
  padding-top: 2%;
}
