* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}
/* Font */
@font-face {
  font-family: myFirstFont;
  src: url("/public/assets/Raosand.ttf");
}

body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    180deg,
    #fad662 0,
    #e8d75b 8.33%,
    #d4d655 16.67%,
    #bed551 25%,
    #a6d34f 33.33%,
    #8bd04e 41.67%,
    #6acc50 50%,
    #3ec855 58.33%,
    #00c35c 66.67%,
    #00bf67 75%,
    #00bb73 83.33%,
    #00b881 91.67%,
    #00b591 100%
  );
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 250%;
  font-family: "myFirstFont";
  padding-top: 0%;
}
h2 {
  text-align: center;
  font-size: 100%;
  font-weight: bolder;
}
h3 {
  text-align: center;
  font-size: 100%;
}

p {
  text-align: center;
  font-size: 100%;
}

.button-container {
  justify-self: end;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}
.one {
  grid-column: 1;
  grid-row: 0;
      width: 13em;
}
.two {
  grid-column: 2;
  grid-row: 0;
  justify-self: center;
}
.three {
  grid-column: 3;
  grid-row: 0;
}
/* Images */
img.rounded-corners {
  border-radius: 10%;
  width: 35%;
}

img.rounded-corners2 {
  border-radius: 10%;
  width: 50%;
}

img.rounded-corners3 {
  border-radius: 10%;
  width: 15%;
}

.container2 {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* Input */
input {
  border: none;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  right: 9px;
  border-radius: 22px;
  width: 300px;
  box-sizing: border-box;
  padding: 0 18px;
  /* text-align: center; */
}

/* Button */
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0086a1;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #000;
}
.button:hover:before {
  width: 100%;
}
#button-container {
  float: right;
}

.tree {
  padding-top: 2%;
}

/* grid container */
.holy-grail-grid {
  display:grid;
  grid-template-areas:
      'main-content'
      'left-sidebar'
      'right-sidebar'
}

/* Holy-grail */
/* general column padding */
.holy-grail-grid > * {
  padding:1rem;
}
.holy-grail-grid > .main-content {
  grid-area: main-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holy-grail-grid > .left-sidebar {
  grid-area:left-sidebar;
}
.holy-grail-grid > .right-sidebar {
  grid-area:right-sidebar;
}



/* tablet breakpoint */
@media screen and (min-width:768px) {
  .holy-grail-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          'main-content main-content'
          'left-sidebar right-sidebar'
  }
  #button-container {
    position:absolute;
  }
  .navbar{
    width: fit-content ;
    margin:auto;
    margin-right: 10%;
  }   
}

/* desktop breakpoint */
@media screen and (min-width:1024px) {
  .holy-grail-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
          'left-sidebar main-content main-content right-sidebar'
  }
  #button-container {
    position:absolute;
    right: 0;
  }
  .one img{
    width: 100px;
  }
}

/*mobile breakpoint */
@media screen and (max-width:768px){
  .holy-grail-grid {
    display: block;
  }
    #input-film{
      width: 50vw;
      height: 30px;
      font-size: xx-large;
    }

    .one{
      display: none;
    }
    .wrapper{
      display: block;
    }
    img.rounded-corners3{
      width: 60vw;
    }
    .navbar{
      width: fit-content ;
      margin:auto;
    }
} 


